body {
    margin: 0;
    font-family:monospace;
    font-size:large;
    background: black;
}
a {
    color:white;
    text-decoration: none;
    text-decoration-color: none;
}
.btn {
    margin:7.5pt;
    cursor: pointer;
    border-radius: 3.75pt;
    border-width: medium;
    background-color: #303030;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    border-radius:0;
    color:white;
    transition:linear 600ms;
}
.btn:hover {
    background-color: #555;
    transition:linear 600ms;
}
.center {
    position:absolute;
    margin-left: 42%;
    margin-top: 100px;
}
